<h2 style="color: #1E90FF">Projeto: Análises de dados de Vendas</h2>

<h3 style="color: #6495ED">1. Definição do projeto e Instalação de Bibliotecas</h3>

<h3 style="color: #00BFFF">Etapas do Projeto:</h3>

1. Definição do projeto e Instalação de Bibliotecas;
2. Carregar e visualisar dados;
3. Análises Exploratória de Dados;
4. Análise Extatística de Dados;
5. Análise Gráfica dos dados;
6. Resultados e Conclusões.

<h3 style="color: #6495ED">2. Carregar e visualisar dados</h3>

In [2]:
import pandas as pd

In [3]:
tabela_vendas = pd.read_excel("vendas.xlsx")
display(tabela_vendas)

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01
...,...,...,...,...,...,...,...,...,...,...,...
69995,PED67084,2022-12-31,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Crédito,2022-12
69996,PED67857,2022-12-31,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,200ml,Consumo no local,7,Pix,2022-12
69997,PED69171,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,500ml,Consumo no local,5,Dinheiro,2022-12
69998,PED69229,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,9,Pix,2022-12
69999,PED69356,2022-12-31,Loja 1,Fortaleza,Ceará,Nordeste,300ml,Delivery,9,Pix,2022-12

In [4]:
tabela_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_pedido        70000 non-null  object
 1   data             70000 non-null  datetime64[ns]
 2   loja             70000 non-null  object
 3   cidade           70000 non-null  object
 4   estado           70000 non-null  object
 5   regiao           70000 non-null  object
 6   tamanho          70000 non-null  object
 7   local_consumo    70000 non-null  object
 8   preco            70000 non-null  int64
 9   forma_pagamento  70000 non-null  object
 10  ano_mes          70000 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 5.9+ MB

<h3 style="color: #6495ED">3. Análise Exploratória de dados</h3>